POSTGRES_DB=sport
POSTGRES_USER=sport_user
POSTGRES_PASSWORD=changeme_postgres
JWT_SECRET=changeme_jwt_secret_very_long_random_string
GRAFANA_USER=admin
GRAFANA_PASSWORD=changeme_grafana

# URL publique de l'application (pour les liens de reset password)
APP_URL=http://sport.xavierchapouille.ddns.net

# SMTP (pour envoi des emails de réinitialisation)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=votre@email.com
SMTP_PASS=votre_mot_de_passe_application
SMTP_FROM=Sport Tracker <votre@email.com>
